.AutoMLSelectedDatasetsPreviewRowsTable table {
  border-collapse: separate;
  border-spacing: 0px;
}
.AutoMLSelectedDatasetsPreviewRowsTable table td {
  min-width: 140px;
  max-width: 140px;
  text-align: center;
  border: 1px solid #d5d9dd;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #6d6d6d;
  padding-top: 13px;
  padding-bottom: 10px;
}
.AutoMLSelectedDatasetsPreviewRowsTable table tr:first-child td {
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #085fab;
}
.AutoMLSelectedDatasetsPreviewRowsTable table tr:nth-child(2) td:first-child {
  border-radius: 10px 0px 0px 0px;
}
.AutoMLSelectedDatasetsPreviewRowsTable table tr:nth-child(2) td:last-child {
  border-radius: 0px 10px 0px 0px;
}
.AutoMLSelectedDatasetsPreviewRowsTable table tr:last-child td:first-child {
  border-radius: 0px 0px 0px 10px;
}
.AutoMLSelectedDatasetsPreviewRowsTable table tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}
