.content {
  margin: 30px;
  margin-top: 10px;
  margin-left: 108px;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #fff;
  // width: 90%;
}
.leftArrow {
  position: absolute;
  margin-left: -50px;
  top: 50%;
}
.rightArrow {
  position: absolute;
  left: unquote("-webkit-calc(100vw - 55px)");
  top: 50%;
}
