.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #a1a1a1;
  margin-right: 30px;
}
.ant-tabs-tab.ant-tabs-tab-active {
  border-radius: 1px;
  z-index: 2;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(104, 61, 61);
  font-weight: 600;
}
