.container {
  height: 100%;
  .column1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: inherit;
    .titleBold {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      color: #085fab;
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        color: #90a8be;
      }
    }
    .linkcolbutton {
      width: 160px;
      height: 40px;
      border-radius: 64px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: white;
      background-color: #085fab;
    }
  }
  .column2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 5px;
    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    border-radius: 20px;
    height: -webkit-fill-available;
    background-color: #f5faff;

    .titleBold {
      text-align: left;
      font-size: 18px;
      font-weight: bold;
    }
    .info {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-style: normal;
      font-family: "Lato";
      font-size: 13px;
      line-height: 17px;
      color: #90a8be;
      margin-bottom: 7px;
    }
  }
}
