.DatasetsMain .Searchbar {
  height: 50%;
  cursor: pointer;
}
.DatasetsMain .Searchbar > input[type="text"] {
  width: 30px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  /* background-image: url("searchicon.png"); */
  background-position: center;
  background-size: contain;
  color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.DatasetsMain .Searchbar > input[type="text"]:focus {
  /* transform: translateX(-30%); */
  width: 300px;
  color: black;
  outline: none;
  border: 1px solid #085fab;
  padding-left: 10px;
  background-size: 0%;
}

.DatasetsMain .UploadButton {
  height: 30px;
  margin-left: 10px;
  border-radius: 64px;
  border-color: #085fab;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #085fab;
  margin-top: -2px;
}
.DatasetsMain .UploadButton:hover {
  background-color: #085fab;
  color: white;
}
.DatasetsMain .UploadButton:active,
.UploadButton:focus {
  background-color: white;
  color: #085fab;
}
.configureButton {
  width: 120px;
  height: 40px;
  background: white;
  border-radius: 64px;
  color: #085fab;
  border-color: #085fab;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1.3px;
  margin-top: 10px;
}
.configureButton:hover {
  background-color: #085fab;
  color: white;
}
