.DataLakeDatabucketstable {
  .datatable {
    border-collapse: collapse;
    border-spacing: 0 0px;
    width: 100%;
    table-layout: fixed;
    thead th {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      text-align: left;
      line-height: 17px;
      background-color: white;
      border: none;
      color: #000000;
      border-bottom: 1px solid #efefef;
      padding-bottom: 5px;
    }
    thead th:first-child {
      width: 7px;
    }
    thead th:nth-child(2) {
      width: 40px;
    }
    thead th:nth-child(3) {
      width: 50%;
    }
    thead th:nth-child(4) {
      width: 33%;
    }
    thead th:nth-child(5) {
      width: 24%;
    }
    thead th:nth-child(6) {
      width: 14%;
    }
    tbody tr {
      background: white;
      border-radius: 0px;
      height: 30px;
      transition: all 0.2s ease-in-out;
      border-bottom: 0.5px solid #e2e9ef;
    }
    tbody tr:hover {
      background: #e1eeff;
    }
    tbody td {
      font-size: 14px;
      font-weight: normal;
      color: #6d6d6d;
      text-align: left;
    }
    tbody tr td:first-child {
      border-radius: 10px 0 0 10px;
      padding-left: 25px;
    }
    tbody tr td:nth-child(2) {
      padding-left: 10px;
    }
    tbody tr td:last-child {
      border-radius: 0 10px 10px 0;
    }
    tbody tr td:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    tbody tr td:nth-child(4) {
      overflow: hidden;
      padding-right: 40px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    tbody {
      .titlebold {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 6px;
        color: black;
      }
      .desc {
        font-weight: normal;
        font-size: 14px;
        color: #6d6d6d;
        padding-top: 10px;
      }
    }
    tbody .selected {
      background: #b8d7f5;
    }
  }
}
