::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #085fab;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #085fab;
  border-radius: 20px;
}
.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}
